.minMaxBtn {
    width: 20%;
    background-color:#2effc3;
    border:1px solid #2effc3;
    color: #011688;
    font-weight: bold;
    border-radius: 20px;
    line-height: 2;
    margin-left: 40%;
    margin-top: 20px;
    outline:none;
    cursor:pointer;
    transition: background-color 0.3s linear;
  }

  
.minMaxBtn:hover {
    background-color: #ffd900;
    border:1px solid #ffd900; 
}