* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.mainPageSection{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80vh;
  justify-content: space-between;
}

.sideView{
  display: flex;
  flex-direction: column;
  width:30%;
  margin-left: 20px;
}


.dialogWindowView {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100vh;
  margin-right: 50px;
  padding-bottom: 30px;  
}

.quickListView{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 60%;
  height: 60vh;
  border: 2px solid #242424;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 5px 6px 8px rgba(44, 44, 44, 0.3);
  opacity:1;
  background-color: #242424;
  transition: all 0.5s linear; 
}

.quickListView.hide{
  opacity:0;
}

::-webkit-scrollbar {
  width: 5px;
  background-color:white;
}
::-webkit-scrollbar-track {
  margin: 0;
}

::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: none;
}


.list {
  height: 70%;
  width: 80%;
  padding: 15px;
  margin:10px auto;
  border: 2px solid #242424;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 3px;
  background-color: white;
  box-shadow: 2px 2px 8px rgba(44, 44, 44, 0.3);
}

.addNoteForm{
  padding-top: 10px;
  margin: 10px auto;
  width: 80%;
  display: flex;
  justify-content: space-between;  
}


i {
  background-color: #2effc3;
  color: #011688;
  border:none;
  margin: 2px;
  cursor:pointer;
}


@keyframes slide-up {
  0% {
      opacity: 0;
      transform: translateY(20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}


